@{
    ViewBag.Title = "Document";
}

<h1>Documentation</h1>

<div class="docs">
    <div>
        <h3>Booking</h3>

        <img src="~/Assets/Booking.png" alt="booking">

        <p>
            Booking is accessible from the <b>Booking</b> tag on the main navigation. <br />
            You can find the room that you want and click the <b>Book</b> button. This action requires a user login.
        </p>
    </div>
    <hr />

    <div>
        <h3>Attend an event</h3>

        <img src="~/Assets/Events.png" alt="Events">

        <p>
            Event is accessible from the <b>Event</b> tag on the main navigation. <br />
            You can find the event that you want to attend click its name and then click the <b>Attend</b> button in the event's page. This action requires a user login.
        </p>
    </div>

    <hr />

    <div>
        <h3>Your Booking</h3>

        <img src="~/Assets/MyBooking.png" alt="MyBooking">

        <p>
            Your Booking is accessible from the <b>Booking</b> tag in your account page. <br />
            To access this page, you can login using <b>Login</b> button then click your user name.
        </p>
    </div>

    <hr />

    <div>
        <h3>The events which you attended or created</h3>

        <img src="~/Assets/MyEvent.png" alt="MyEvent">

        <p>
            The events which you attended or created are accessible from the <b>Event</b> tag in your account page. <br />
            To access this page, you can login using <b>Login</b> button then click your user name.
        </p>
    </div>

    <hr />

    <div>
        <h3>Change password</h3>

        <img src="~/Assets/About.png" alt="About">

        <p>
            You can change your password using <b>Change Password</b> button in <b>About</b> tag in your account page. <br />
            To access this page, you can login using <b>Login</b> button then click your user name.
        </p>
    </div>

    <hr />

    <div>
        <h3>Cancel a booking</h3>

        <img src="~/Assets/MyBooking.png" alt="About">

        <p>
            You can cancel a booking using <b>Cancel</b> button in <b>Booking</b> tag in your account page. <br />
            To access this page, you can login using <b>Login</b> button then click your user name.
        </p>
    </div>

    <hr />

    <div>
        <h3>Edit your profile details</h3>

        <img src="~/Assets/About.png" alt="About">

        <p>
            You can edit your profile details using <b>Edit Profile</b> button in your account page. <br />
            To access this page, you can login using <b>Login</b> button then click your user name.
        </p>
    </div>

    <hr />

    <div>
        <h3>Admin panel</h3>

        <img src="~/Assets/admin.png" alt="About">

        <p>
            Admin panel is accessible for <b>Admin</b> only. <br />
            To access this panel, you can login using <b>Login</b> button with your Admin user name. <br />
            Default Admin account is user name: admin@sydneyhotel.com, password: 123456
        </p>
    </div>
</div>