@{
    ViewBag.Title = "Home Page";
}

<h2>Group Members</h2>

<div class="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student Id</th>
                <th>Student Name</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>11900962</td>
                <td>Anh Tuan Bui</td>
            </tr>

            <tr>
                <td>12001187</td>
                <td>Manisha Tamang</td>
            </tr>

            <tr>
                <td>12001594</td>
                <td>Bibek Thapa</td>
            </tr>

            <tr>
                <td>12001003</td>
                <td>Sameer Gurung</td>
            </tr>
        </tbody>
    </table>
</div>