/*css working with login area*/
.logo {
    color: white !important;
}

    .logo:hover {
        color: #9b9b9b !important;
    }

.text-white {
    color: white;
}

.middle-veritcal {
    vertical-align: middle;
}

.flex-box {
    display: flex;
    align-items: center;
}

.flex-items {
    flex-grow: inherit;
}

.loginArea {
    display: flex !important;
}

    .loginArea > a {
        padding: 10px;
        color: #9d9d9d;
    }

        .loginArea > a:hover {
            text-decoration: none;
            color: white;
        }

/*css for id*/
/*Admin panel*/
#AdminPanel {
    width: 12%;
    position: absolute;
    left: 0;
    border-radius: 5px;
    min-width: 150px;
}

    #AdminPanel > p {
        padding: 5px;
        background-color: #eeeeee;
        margin: 0;
    }

        #AdminPanel > p:hover {
            background-color: #cccccc;
        }

    #AdminPanel > a:hover {
        text-decoration: none;
    }


/*css for table div*/
.table-container {
    width: 500px;
    max-width: 100%;
    margin: auto;
}

/*Room list css*/
.list-box div.room-box:last-child{
    border:none;
}

.room-box {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}

  

.room-info {
    margin: 0 40px;
    overflow-wrap: break-word;
}

    .room-info > h2 {
        margin-top: 0;
        padding-top: 0;
    }

    .room-info > p {
        font-size: 18px;
    }

.room-image > img {
    width: 500px;
    max-width: 100%;
    min-width: 100px;
}

.room-last {
    margin-right: 0;
    margin-left: auto;
    position: relative;
}

    .room-last > p {
        font-size: 24px;
    }

    .room-last > a {
        position: absolute;
        bottom: 0;
        right: 0;
    }

.clear-border {
    border: none;
}

.room-submit-btn {
    margin-left: 293px;
}

.fill-form {
    margin-top: 20px;
}
