dl, dd, dt {
    padding: 5px 0;
    font-size: 1.1em;
}

.render-body {
    min-height: calc(100vh - 200px);
}

/*css working with login area*/

.logo {
    color: white !important;
}

    .logo:hover {
        color: #9b9b9b !important;
    }

.text-white {
    color: white;
}

.middle-veritcal {
    vertical-align: middle;
}

.flex-box {
    display: flex;
    align-items: center;
}

.flex-items {
    flex-grow: inherit;
}

.loginArea {
    display: flex !important;
}

    .loginArea > a {
        padding: 10px;
        color: #9d9d9d;
    }

        .loginArea > a:hover {
            text-decoration: none;
            color: white;
        }

/*css for id*/
/*Admin panel*/
.left-panel {
    width: 12%;
    position: absolute;
    left: 0;
    border-radius: 5px;
    min-width: 150px;
    background-color: #f8f8f8;
}

    .left-panel > p {
        padding: 10px;
        margin: 0;
    }

        .left-panel > p:hover {
            background-color: #f2f2f2;
        }

    .left-panel a {
        color: black;
    }

        .left-panel a:hover {
            text-decoration: none;
            color:#4d4d4d;
        }

.left-panel-title {
    padding: 5px;
}

/*css for table div*/
.table-container {
    width: 500px;
    max-width: 100%;
    margin: auto;
}

/*Room list css*/
.list-box div.room-box:last-child {
    border: none;
}

.room-box {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}



.room-info {
    margin: 0 40px;
    overflow-wrap: break-word;
}

    .room-info > h2 {
        margin-top: 0;
        padding-top: 0;
    }

    .room-info > p {
        font-size: 18px;
    }

.room-image > img {
    width: 500px;
    max-width: 100%;
    min-width: 100px;
}

.room-last {
    margin-right: 0;
    margin-left: auto;
    position: relative;
}

    .room-last > p {
        font-size: 24px;
    }

    .room-last > a {
        position: absolute;
        bottom: 0;
        right: 0;
    }

.room-cancel-btn {
    margin-right: 0;
    margin-left: auto;
}
.clear-border {
    border: none;
}

.room-submit-btn {
    margin-left: 293px;
}

.fill-form {
    margin-top: 20px;
}


/*CSS for event list*/
.create-event-btn {
    margin-top: 28px;
}

    .create-event-btn > a {
        color: black;
    }

        .create-event-btn > a:hover {
            text-decoration: none;
            color: black;
        }

.event-list div:last-child {
    border: none;
}

.event-box {
    border-bottom: 1px solid #cccccc;
}

    .event-box a {
        color: black;
    }

        .event-box a:hover {
            text-decoration: none;
        }

    .event-box > p > span {
        padding: 5px;
    }

.date {
    margin-right: 20px;
}

    .date span, .time span {
        padding: 5px;
    }

.text-description {
    resize: none;
    width: 100%;
}

.event-detail {
    border-bottom: 1px solid #cccccc;
}

/*CSS for attendee*/
.attendees div:last-child {
    border: none;
}

.attendee {
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
}

    .attendee img {
        width: 30px;
        margin-right: 5px;
    }


/*CSS for manage page*/
.manage a {
    color:black;
}

.manage-head {
    padding-top: 20px;
    vertical-align:middle;
}

.about-info {
    margin-top: 20px;
}

.edit-profile {
    margin-top:15px;
}

.btn-change-password {
    position:relative;
    top:-5px;
}

.glyphicon {

}