
<div class="navbar-collapse collapse" style="margin-left:auto; margin-right:0;">
    <div class="loginArea">
        @if (Session["ID"] == null)
        {
            @Html.ActionLink("Login", "Login", "Account")
            @Html.ActionLink("Register", "Register", "Account")
        }
        else
        {
            <form method="post" action="/Account/Logout">
                <div class="input-group flex-box">
                    <a class="btn btn-link" href="/Account/Manage">@Session["UserName"]</a>
                    <button type="submit" name="Logout" class="btn btn-link">Logout</button>
                </div>
            </form>
        }

    </div>
</div>