@{
    if (Request.Cookies["UserName"] != null)
    {
        ViewBag.User = Request.Cookies["UserName"].Value;

    }
}

<div class="navbar-collapse collapse" style="margin-left:auto; margin-right:0;">
    <div class="loginArea">
        @if (Request.Cookies["UserName"] == null)
        {
            @Html.ActionLink("Login", "Login", "Account")
            @Html.ActionLink("Register", "Register", "Account")
        }
        else
        {
            <form method="post" action="/Account/Logout">
                <div class="input-group flex-box">
                    <span class="text-white">@ViewBag.User</span>
                    <button type="submit" name="Logout" class="btn btn-link">Logout</button>
                </div>
            </form>
        }

    </div>
</div>